.customAsyncPaginate__menu {
  background-color: green; /* Задайте фон випадаючого списку */
  color: #000; /* Задайте колір тексту випадаючого списку */
}

.customAsyncPaginate__option {
  color: #000; /* Задайте колір тексту для кожної окремої опції */
  background-color: darkgoldenrod;
}

.customAsyncPaginate__option--is-selected {
  background-color: #ccc; /* Задайте фон для обраної опції */
  color: #000; /* Задайте колір тексту для обраної опції */
}
